<a href="https://colab.research.google.com/github/Shankjbs571/Machine-Learning-Techniques/blob/main/DataPrep_W1_PA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import sklearn
import numpy as np

In [55]:
# from sklearn.preprocessing import
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OneHotEncoder

In [10]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data/DataPreprocessingGraded_dataset.csv")

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      748 non-null    object
 1   V2      748 non-null    object
 2   V3      748 non-null    float64
 3   V4      748 non-null    float64
 4   V5      748 non-null    object
 5   Target  748 non-null    object
dtypes: float64(2), object(4)
memory usage: 35.2+ KB

In [12]:
print(dataset['Target'].unique())
print(dataset['V5'].unique())
print(dataset.head())

['YES' 'NO']
['NEGATIVE']
    V1    V2       V3    V4        V5 Target
0  2.0  50.0  12500.0  98.0  NEGATIVE    YES
1  0.0  13.0   3250.0  28.0  NEGATIVE    YES
2    ?     ?   4000.0  35.0  NEGATIVE    YES
3    ?  20.0   5000.0  45.0  NEGATIVE    YES
4  1.0  24.0   6000.0  77.0  NEGATIVE     NO

In [13]:
dataset.eq('?').sum()

V1        5
V2        5
V3        0
V4        0
V5        0
Target    0
dtype: int64

In [14]:
dataset.replace('?',np.nan,inplace=True)
print(dataset.isna().sum())

V1        5
V2        5
V3        0
V4        0
V5        0
Target    0
dtype: int64

In [15]:
dataset.info()
dataset_copy=dataset.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      743 non-null    object
 1   V2      743 non-null    object
 2   V3      748 non-null    float64
 3   V4      748 non-null    float64
 4   V5      748 non-null    object
 5   Target  748 non-null    object
dtypes: float64(2), object(4)
memory usage: 35.2+ KB

In [22]:
# Initialize OneHotEncoder
encoder = OneHotEncoder(sparse=False)

# Fit-transform the non-numeric columns
encoded_columns = encoder.fit_transform(dataset[['V5', 'Target']])
print(type(encoded_columns))
# # Convert the encoded columns to a DataFrame
encoded_df = pd.DataFrame(encoded_columns, columns=encoder.get_feature_names_out(['V5', 'Target']))
print(encoded_df)

# # Concatenate the original DataFrame with the encoded DataFrame
final_df = pd.concat([dataset, encoded_df], axis=1)
# # Drop the original non-numeric columns
final_df.drop(['V5', 'Target'], axis=1, inplace=True)

print(final_df)

<class 'numpy.ndarray'>
     V5_NEGATIVE  Target_NO  Target_YES
0            1.0        0.0         1.0
1            1.0        0.0         1.0
2            1.0        0.0         1.0
3            1.0        0.0         1.0
4            1.0        1.0         0.0
..           ...        ...         ...
743          1.0        1.0         0.0
744          1.0        1.0         0.0
745          1.0        1.0         0.0
746          1.0        1.0         0.0
747          1.0        1.0         0.0

[748 rows x 3 columns]
       V1    V2       V3    V4  V5_NEGATIVE  Target_NO  Target_YES
0     2.0  50.0  12500.0  98.0          1.0        0.0         1.0
1     0.0  13.0   3250.0  28.0          1.0        0.0         1.0
2     NaN   NaN   4000.0  35.0          1.0        0.0         1.0
3     NaN  20.0   5000.0  45.0          1.0        0.0         1.0
4     1.0  24.0   6000.0  77.0          1.0        1.0         0.0
..    ...   ...      ...   ...          ...        ...         ...
743  23.0   2.0    500.0  38.0          1.0        1.0         0.0
744  21.0   2.0    500.0  52.0          1.0        1.0         0.0
745  23.0   3.0    750.0  62.0          1.0        1.0         0.0
746  39.0   1.0    250.0  39.0          1.0        1.0         0.0
747  72.0   1.0    250.0  72.0          1.0        1.0         0.0

[748 rows x 7 columns]

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [29]:
final_df.info()
print(final_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   V1           743 non-null    object
 1   V2           743 non-null    object
 2   V3           748 non-null    float64
 3   V4           748 non-null    float64
 4   V5_NEGATIVE  748 non-null    float64
 5   Target_NO    748 non-null    float64
 6   Target_YES   748 non-null    float64
dtypes: float64(5), object(2)
memory usage: 41.0+ KB
Index(['V1', 'V2', 'V3', 'V4', 'V5_NEGATIVE', 'Target_NO', 'Target_YES'], dtype='object')

In [53]:
si=SimpleImputer(strategy='median')
final_dataset=pd.DataFrame(si.fit_transform(final_df), columns=final_df.columns)
type(final_dataset)
print(final_dataset.head())

    V1    V2       V3    V4  V5_NEGATIVE  Target_NO  Target_YES
0  2.0  50.0  12500.0  98.0          1.0        0.0         1.0
1  0.0  13.0   3250.0  28.0          1.0        0.0         1.0
2  8.0   4.0   4000.0  35.0          1.0        0.0         1.0
3  8.0  20.0   5000.0  45.0          1.0        0.0         1.0
4  1.0  24.0   6000.0  77.0          1.0        1.0         0.0

In [60]:
knni = KNNImputer(n_neighbors=3)
final_dataset=pd.DataFrame(knni.fit_transform(final_df))
type(final_dataset)
print(final_dataset.head())

     0     1        2     3    4    5    6
0  2.0  50.0  12500.0  98.0  1.0  0.0  1.0
1  0.0  13.0   3250.0  28.0  1.0  0.0  1.0
2  9.0  16.0   4000.0  35.0  1.0  0.0  1.0
3  3.0  20.0   5000.0  45.0  1.0  0.0  1.0
4  1.0  24.0   6000.0  77.0  1.0  1.0  0.0

In [63]:
si = SimpleImputer(strategy='mean')
final_dataset=pd.DataFrame(si.fit_transform(final_df),columns=final_df.columns)
type(final_dataset)
print(final_dataset.head())

         V1         V2       V3    V4  V5_NEGATIVE  Target_NO  Target_YES
0  2.000000  50.000000  12500.0  98.0          1.0        0.0         1.0
1  0.000000  13.000000   3250.0  28.0          1.0        0.0         1.0
2  9.562584   5.464334   4000.0  35.0          1.0        0.0         1.0
3  9.562584  20.000000   5000.0  45.0          1.0        0.0         1.0
4  1.000000  24.000000   6000.0  77.0          1.0        1.0         0.0

In [31]:
final_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   V1           748 non-null    float64
 1   V2           748 non-null    float64
 2   V3           748 non-null    float64
 3   V4           748 non-null    float64
 4   V5_NEGATIVE  748 non-null    float64
 5   Target_NO    748 non-null    float64
 6   Target_YES   748 non-null    float64
dtypes: float64(7)
memory usage: 41.0 KB

In [33]:
final_dataset.eq(np.nan).sum()
# dataset['V1'].unique()

V1             0
V2             0
V3             0
V4             0
V5_NEGATIVE    0
Target_NO      0
Target_YES     0
dtype: int64

In [43]:
final_dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
V1,748.0,9.562584,8.066394,0.0,3.0,8.0,14.0,74.0
V2,748.0,5.464334,5.780316,1.0,2.0,4.0,7.0,50.0
V3,748.0,1378.676471,1459.826781,250.0,500.0,1000.0,1750.0,12500.0
V4,748.0,34.282086,24.376714,2.0,16.0,28.0,50.0,98.0
V5_NEGATIVE,748.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
Target_NO,748.0,0.762032,0.426124,0.0,1.0,1.0,1.0,1.0
Target_YES,748.0,0.237968,0.426124,0.0,0.0,0.0,0.0,1.0

In [48]:
# Q1 = df['value'].quantile(0.25)
# Q3 = df['value'].quantile(0.75)
# IQR = Q3 - Q1
num_of_outliers = []
for feature in final_dataset.columns:
  Q1 = final_dataset[feature].quantile(0.25)
  Q3 = final_dataset[feature].quantile(0.75)
  IQR = Q3 - Q1
  # IQR.append(final_dataset[feature].quantile(0.75)-final_dataset[feature].quantile(0.25))
  iqr_outliers = final_dataset[(final_dataset[feature] < Q1 - 1.5 * IQR) | (final_dataset[feature] > Q3 + 1.5 * IQR)]
  num_of_outliers.append(len(iqr_outliers))


print(num_of_outliers)

[7, 42, 45, 0, 0, 178, 178]

In [59]:
print(final_dataset['Target_YES'].sum())
print(final_dataset['Target_NO'].sum())
print(final_dataset['V1'].mean())

178.0
570.0
9.532976827094473

In [64]:
print(final_dataset['V2'].mean())

5.464333781965007