<a href="https://colab.research.google.com/github/Shankjbs571/Machine-Learning-Techniques/blob/main/MLP_W1_GA1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# prompt: how to access a csv file from drive link and make it a dataframe

import pandas as pd

df = pd.read_csv('V5.csv')
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

In [6]:
df.shape

(10000, 12)

In [7]:
# Replace "?" with NaN
df.replace("?", float("NaN"), inplace=True)
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East

In [9]:
nan_counts = df.isna().sum()
print(nan_counts)

# Count the total number of NaN values in the entire DataFrame
total_nan_count = nan_counts.sum()

# Display the total count
print("Total NaN count:", total_nan_count)

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64
Total NaN count: 5548

In [13]:
df.iloc[692,0]

'2009-11-16'

In [14]:
df.iloc[546,7]

3

In [15]:
# get uniques value of a particulare feature of df

df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [16]:

# Get the list of column names
column_names = df.columns

# Iterate over each column and count the number of missing values
for column in column_names:
    nan_count = df[column].isna().sum()
    if nan_count > 0:
        print(f"Feature '{column}' has {nan_count} missing values")

Feature 'Locality' has 1253 missing values
Feature 'Estimated Value' has 1243 missing values
Feature 'Property' has 1823 missing values
Feature 'carpet_area' has 1229 missing values

In [ ]:
criteria = lambda df : df.isna()

In [20]:
# prompt: drop all rows having missing values greater than 2

df = df.dropna(thresh=2)
df.shape

(10000, 12)